<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Quote Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Theodore Roosevelt</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-card-subtitle>Believe you can and you're halfway there.</ion-card-subtitle>
      </ion-item>
      <div style="text-align:center">
        <ion-button ion-button (click)="editquote()">Edit</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
