<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button ion-button (click)="newQuote()">
        <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      A4-Fisher Wu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>

    <ion-item-sliding>

      <ion-item detail>
        <ion-text ion-button (click)="quoteDetail()">
          <ion-label>
            <h2>1 Theodore Roosevelt</h2>
            <p>Believe you can and you're halfway there.</p>
          </ion-label>
        </ion-text>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="top" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item detail>
        <ion-text ion-button (click)="quoteDetail()">
          <ion-label>
            <h2>2 Theodore Roosevelt</h2>
            <p>Believe you can and you're halfway there.</p>
          </ion-label>
        </ion-text>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="top" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>
